__pycache__/
dist/

.coverage
coverage.xml
report.xml

# Directory of the snippet bundled into the back-end.
/server/dearmep/static_files/static/

*.mmdb
*.sqlite
openapi.json

# For convenience, if people use their own config.yaml.
.config.yaml

# Dotenv files.
*.env
