<ng-container *ngIf="usePopover()">
  <a (click)="togglePopover()" [matTooltip]="getText()" matTooltipPosition="above" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-icon *ngIf="!useSvgIcon()">
      {{ getIcon() }}
    </mat-icon>
    <mat-icon *ngIf="useSvgIcon()" [svgIcon]="getIcon()"></mat-icon>
  </a>
  <!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="popoverIsOpen">
    <ul class="example-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </ng-template> -->
</ng-container>
<ng-container *ngIf="!usePopover()">
  <a target="_blank" [href]="getTarget()" [matTooltip]="getText()" matTooltipPosition="above" >
    <mat-icon *ngIf="!useSvgIcon()">
      {{ getIcon() }}
    </mat-icon>
    <mat-icon *ngIf="useSvgIcon()" [svgIcon]="getIcon()"></mat-icon>
  </a>
</ng-container>
