.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.description {
  margin: 8px 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 16px;
  text-transform: uppercase;
  margin: 4px;
  flex-basis: 80%;
  min-width: 250px;
}

.dmep-call-now-btn {
  strong {
    font-weight: 500;
    font-size: 2em;
  }
  margin-top: 24px;
  min-height: 6em;
  background-color: #FFFFFF;
}

.dmep-call-later-btn {
  min-height: 3em;
}
