/*
 * SPDX-FileCopyrightText: © 2023 Tobias Mühlberger
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  // Layout
  --dmep-min-height: 630px;

  // Colors
  --dmep-text-color: rgb(255, 255, 255, 0.9);
  --dmep-footer-text-color: rgba(255, 255, 255, 0.75);
  --dmep-primary-color: rgba(250, 128, 114, 1);
  --dmep-success-color: rgba(92, 184, 92, 1);
  --dmep-error-color: #f44336;
  --dmep-title-light-text-color: rgba(255, 255, 255, 0.75);
  --dmep-scrollbar-color: rgba(255, 255, 255, 0.8);
  --dmep-popover-text-color: rgb(255, 255, 255, 0.9);
  --dmep-popover-background-color: rgba(22, 22, 22, 1);
  --dmep-popover-backdrop-color: rgba(0, 0, 0, 0.32);

  // Fonts
  --dmep-font-family: Roboto, 'Helvetica Neue', sans-serif;
  --dmep-font-size: 1.25rem;
  --dmep-title-font-size: 3.2rem;
  --dmep-title-font-size-md: calc(var(--dmep-title-font-size) * 0.75);
  --dmep-title-font-size-xs: calc(var(--dmep-title-font-size) * 0.65);
  --dmep-sub-title-font-size: 1.5rem;
  --dmep-footer-font-size: 1rem;
  --dmep-footer-font-size-xs: calc(var(--dmep-footer-font-size) * 0.65);
  --dmep-font-size-sm: 1rem;

  // Background
  --dmep-bg: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(22, 22, 22, 1) 75%,
    rgba(12, 18, 59, 1) 100%
  );
  --dmep-bg-border-radius: 16px;
  --dmep-card-bg: rgba(255, 255, 255, 0.24);
  --dmep-inner-card-bg: rgba(255, 255, 255, 0.34);
  --dmep-card-border-radius: 16px;

  // Buttons
  --dmep-btn-primary-bg-color: rgb(255, 255, 255);

  // Gaps
  --dmep-layout-gap: 40px;
  --dmep-layout-gap-xs: 20px;
}
