/*
 * SPDX-FileCopyrightText: © 2023 Tobias Mühlberger
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.dmep-popover {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  padding: 8px 16px;
}
