<ng-container *ngIf="usePopover()">
  <a (click)="togglePopover()" [matTooltip]="getText()" matTooltipPosition="above" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-icon *ngIf="!useSvgIcon()">
      {{ getIcon() }}
    </mat-icon>
    <mat-icon *ngIf="useSvgIcon()" [svgIcon]="getIcon()"></mat-icon>
  </a>
  <ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="dmep-popover-backdrop" (backdropClick)="popoverIsOpen = false" [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="popoverIsOpen">
    <div class="dmep-popover">
      <mat-icon>
        {{ getIcon() }}
      </mat-icon>
      <p>
        <a [href]="getTarget() | safe: 'url'" [matTooltip]="getText()">{{ getText() }}</a>
      </p>
    </div>
  </ng-template>
</ng-container>
<ng-container *ngIf="!usePopover()">
  <a target="_blank" [href]="getTarget()" [matTooltip]="getText()" matTooltipPosition="above" >
    <mat-icon *ngIf="!useSvgIcon()">
      {{ getIcon() }}
    </mat-icon>
    <mat-icon *ngIf="useSvgIcon()" [svgIcon]="getIcon()"></mat-icon>
  </a>
</ng-container>
