@import "fonts";
@import "themes/variables";
@import "themes/default-dark";

:host {
  // avoid bleeding style from light-dom into shadow-dom
  all: initial;

  margin: 0;
  font-family: var(--dmep-font-family);
  font-size: var(--dmep-font-size);
  color: var(--dmep-text-color);
}

.dmep-app-container {
  h1 {
    font-size: var(--dmep-title-font-size);
  }
  h2 {
    font-size: var(--dmep-sub-title-font-size);
    font-weight: 700;
    margin: 0 0 16px 0;
  }
  h3 {
    font-size: var(--dmep-sub-title-font-size);
    font-weight: 700;
    margin: 8px 0;
  }

  background: var(--dmep-bg);
  border-radius: var(--dmep-bg-border-radius);
  padding: 40px;
  overflow: hidden;

  .dmep-card-container {
    background: var(--dmep-card-bg);
    border-radius: var(--dmep-card-border-radius);
    padding: 32px;
  }

  .dmep-footer {
    margin-bottom: -40px;
    height: 40px;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--dmep-footer-font-size);
    color: var(--dmep-footer-text-color);
    a {
      color: var(--dmep-footer-text-color);
    }
  }

  a {
    color: var(--dmep-text-color);
  }

  mat-icon {
    color: var(--dmep-text-color);
  }

  p {
    margin: 8px 0;
  }

  .grow {
    flex-grow: 1;
  }
}
