@import "@fontsource/material-icons-outlined";

@import "@fontsource/roboto/latin-300";
@import "@fontsource/roboto/latin-400";
@import "@fontsource/roboto/latin-500";
@import "@fontsource/roboto/latin-700";

