<!--
  Optimization: This style is loaded quite late, might make sens to add <link rel="preload" ... /> to the host page.
-->
<link *ngIf="styleUrl$ | async" rel="stylesheet" [href]="styleUrl$ | async | safe: 'resourceUrl'" type="text/css">
<link *ngIf="flagsStyleUrl$ | async" rel="stylesheet" [href]="flagsStyleUrl$ | async | safe: 'resourceUrl'"
  type="text/css">

<div class="dmep-app-container" dmepResponsive [breakpoints]="{ 'dmep-display-xs': 575, 'dmep-display-md': 991 }">

  <div class="dmep-app-layout" [ngClass]="{ 'dmep-talking-points-visible': shouldDisplayTalkingPoints$ | async, 'dmep-calling-disabled': disableCalling }">
    <dmep-title class="dmep-layout-left" *ngIf="shouldDisplayTitle$ | async"></dmep-title>
    <dmep-select-mep class="dmep-layout-left" *ngIf="shouldDisplayMEP$ | async"></dmep-select-mep>
    <dmep-talking-points class="dmep-layout-left" *ngIf="shouldDisplayTalkingPoints$ | async"></dmep-talking-points>

    <dmep-language-switch class="dmep-layout-right"></dmep-language-switch>
    <dmep-calling class="dmep-layout-right" *ngIf="!disableCalling" [disableScheduling]="disableScheduling"></dmep-calling>

  </div>

  <dmep-footer class="dmep-layout-full-width"></dmep-footer>
</div>

