.dmep-app-container {
  padding: var(--dmep-layout-gap);
}
.dmep-app-container.dmep-display-xs {
  padding: var(--dmep-layout-gap-xs);
}

.dmep-app-layout {
  display: grid;
  gap: var(--dmep-layout-gap);
  row-gap: 20px;
  grid-template-columns: [left] 60fr [center] 40fr [right];
  //grid-template-rows: [first] auto [first] auto [second] auto [third] auto [last];
}

.dmep-layout-left {
  grid-column: left / center;
}

.dmep-layout-right {
  grid-column: center / right;
}

.dmep-layout-full-width {
  grid-column:  left / right;
  justify-items: end;
}

dmep-language-switch {
  grid-row: 1;
  justify-items: end;
  align-items: start;
}

dmep-title {
  grid-row: 1 / 3;
}

dmep-calling {
  grid-row: 2 / 4;
}

dmep-select-mep {
  grid-row: 3;
}

dmep-footer {
  margin-bottom: calc(var(--dmep-layout-gap) * -1);
  height: var(--dmep-layout-gap);
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dmep-talking-points-visible {
  dmep-select-mep {
    grid-row: 1 / 3;
  }
  dmep-talking-points {
    grid-row: 3;
  }
}

.dmep-display-md {
  .dmep-layout-left {
    grid-column: left / right;
  }
  .dmep-layout-right {
    grid-column: left / right;
  }

  dmep-language-switch {
    grid-row: 1;
  }

  dmep-title {
    grid-row: 2;
  }

  dmep-select-mep {
    grid-row: 3;
  }

  dmep-calling {
    grid-row: 4;
  }

  .dmep-talking-points-visible {
    dmep-talking-points {
      grid-row: 5;
    }
  }
}


.dmep-display-xs {
  .dmep-app-layout {
    column-gap: var(--dmep-layout-gap-xs);
  }
  dmep-footer {
    margin-bottom: calc(var(--dmep-layout-gap-xs) * -1);
    height: var(--dmep-layout-gap-xs);
  }
}
