<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label>{{ 'select-mep.country' | transloco }}</mat-label>
  <mat-select [value]="selectedCountry" (valueChange)="onSelectCountry($event)">
    <mat-select-trigger *ngIf="selectedCountry">
      <div class="dmep-country-option">
        <span [classList]="'flag:' + selectedCountry"></span>
        <span>{{ 'countries.' + selectedCountry | transloco }}</span>
      </div>
    </mat-select-trigger>
    <mat-option [value]="country" *ngFor="let country of countries">
      <div class="dmep-country-option">
        <span [classList]="'flag:' + country"></span>
        <span>{{ 'countries.' + country | transloco }}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
