/*
 * SPDX-FileCopyrightText: © 2023 Tobias Mühlberger
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.dmep-country-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

mat-form-field {
  width: 100%;
}
