<!--
SPDX-FileCopyrightText: © 2023 Tobias Mühlberger

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<mat-form-field
  appearance="outline"
  subscriptSizing="dynamic"
  class="dmep-lang-select">
  <mat-label>{{ 'languages.language' | transloco }}</mat-label>
  <mat-select [value]="selectedLanguage" (valueChange)="setLanguage($event)">
    @if (selectedLanguage) {
      <mat-select-trigger>{{
        'languages.' + selectedLanguage | transloco
      }}</mat-select-trigger>
    }
    @for (lang of availableLanguages; track lang) {
      <mat-option [value]="lang">{{
        'languages.' + lang | transloco
      }}</mat-option>
    }
  </mat-select>
</mat-form-field>
