<div class="dmep-card-container">
  <div class="dmep-destination-filter" *ngIf="mepSelectionPossible$ | async">
    <mat-form-field appearance="outline" class="dmep-search-member-field" subscriptSizing="dynamic">
      <mat-label>{{ 'select-mep.search.placeholder' | transloco }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <mat-icon matSuffix *ngIf="!autocompleteIsLoading">expand_more</mat-icon>
      <mat-spinner [diameter]="24" matSuffix *ngIf="autocompleteIsLoading"></mat-spinner>
      <input type="text"
        [placeholder]="'select-mep.search.placeholder' | transloco"
        matInput
        [matAutocomplete]="auto"
        [formControl]="searchMEPFormControl"
        #destinationSearchInput>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getMepName" hideSingleSelectionIndicator="true">
        <mat-option [value]="mep" *ngFor="let mep of filteredMEPs | async">
          <div class="mep-search-result">
            <span [classList]="'flag:' + mep.country"></span>
            <span class="mep-name">{{ mep.name }}</span>
            <ng-container *ngFor="let group of mep.groups">
              <img *ngIf="group.logo" [src]="group.logo | toAbsolute: 'api'" class="dmep-group-icon">
            </ng-container>
          </div>
        </mat-option>
        <mat-option [disabled]="true" *ngIf="(filteredMEPs | async)?.length === 0">
          {{ 'select-mep.autocomplete-empty' | transloco }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <dmep-country-select></dmep-country-select>
  </div>
  <dmep-mep-detail [allowChangeMEP]="mepSelectionPossible$ | async" [mep]="selectedMEP$ | async" (MEPChange)="renewSuggestion()"></dmep-mep-detail>
  <div class="dmep-portrait-credit">
    <span *ngIf="selectedMEP$ | async" [innerHTML]="'select-mep.portraitCreditHtml' | transloco: { id: (selectedMEP$ | async)?.id }"></span>
  </div>
</div>
