<div class="dmep-card-container">
  <div class="filter" *ngIf="mepSelectionPossible$ | async">
    <mat-form-field appearance="outline" class="dmep-search-member-field">
      <mat-label>Search for another member</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <mat-icon matSuffix>expand_more</mat-icon>
      <input type="text"
        placeholder="Search for another member"
        matInput
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="Daniel FREUND">Daniel FREUND</mat-option>
        <mat-option value="Alexandra GEESE">Alexandra GEESE</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <dmep-country-select></dmep-country-select>
  </div>
  <dmep-mep-detail [allowChangeMEP]="mepSelectionPossible$ | async"></dmep-mep-detail>
</div>
