<div class="dmep-card-container">
  <div class="filter" *ngIf="mepSelectionPossible$ | async">
    <mat-form-field appearance="outline" class="dmep-search-member-field">
      <mat-label>Search for another member</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <mat-icon matSuffix>expand_more</mat-icon>
      <input type="text"
        placeholder="Search for another member"
        matInput
        [matAutocomplete]="auto"
        [formControl]="searchMEPFormControl">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getMepName" >
        <mat-option [value]="mep" *ngFor="let mep of filteredMEPs | async">
          {{ mep.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <dmep-country-select></dmep-country-select>
  </div>
  <dmep-mep-detail [allowChangeMEP]="mepSelectionPossible$ | async" [mep]="selectedMEP$ | async" (MEPChange)="renewSuggestion()"></dmep-mep-detail>
</div>
