.dmep-destination-filter {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.dmep-search-member-field {
  flex-basis: 320px;
}

.dmep-group-icon {
  height: 1.5em;
  width: auto;
  justify-self: end;
}

.mep-search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.mep-name {
  margin-right: auto;
}

::ng-deep
mat-option .mdc-list-item__primary-text {
  width: 100%;
}

.dmep-portrait-credit {
  font-size: 0.65em;
  height: 32px;
  margin-bottom: -32px;
  padding-top: 5px;
}

mat-form-field mat-spinner {
  margin-right: 16px;
  display: inline-flex;
}

::ng-deep
.dmep-display-xs dmep-select-mep {
  .dmep-destination-filter {
    flex-direction: column-reverse;
  }
  .dmep-search-member-field {
    flex-basis: unset;
    margin-right: unset;
  }
}
