<!--
SPDX-FileCopyrightText: © 2023 Tobias Mühlberger

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<span transloco="talkingPoints.title" class="dmep-talking-points-title"></span>
<div class="dmep-talking-points" *transloco="let t">
  @for (talkingPoint of t('talkingPoints.points'); track talkingPoint) {
    <div class="dmep-talking-point">
      <h3>{{ talkingPoint.title }}</h3>
      <p>{{ talkingPoint.body }}</p>
    </div>
  }
  @if (t('talkingPoints.moreArgumentsHtml')) {
    <div
      class="dmep-more-arguments"
      [innerHTML]="
        'talkingPoints.moreArgumentsHtml' | transloco | safe: 'html'
      "></div>
  }
</div>
