.mep {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.mep-name {
  display: flex;
  align-items: center;
  margin-top: 0;
  .name {
    margin-left: 12px;
    margin-right: 0;
  }
}

.mep-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mep-image {
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  object-fit: cover;
  border-radius: 20px;
  height: 215px;
  width: 170px;
  min-width: 170px;
}

.mep-image-loading-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
}

.mep-group-icon {
  height: 1.2em;
  width: auto;
}

.group-party {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin: 4px 0;
}

::ng-deep .dmep-display-xs dmep-mep-detail {
  .mep {
    flex-direction: column;
    align-items: center;
  }
}
