<div class="mep">
  <div class="mep-image">
    <img [src]="mep?.portrait" alt="Daniel FREUND">
  </div>
  <div class="mep-description">
    <h3 class="mep-name">
      <p class="name">{{ mep?.name }}</p>
      <button mat-icon-button class="select-other-btn" (click)="MEPChangeClick()" *ngIf="allowChangeMEP">
        <mat-icon>autorenew</mat-icon>
      </button>
    </h3>
    <p class="group-party" *ngFor="let group of mep?.groups">
      {{ group.long_name }}
    </p>
    <p class="country" >{{ 'countries.' + mep?.country | transloco  }}</p>
    <div class="socials">
      <dmep-social-icon *ngFor="let contact of mep?.contacts" [type]="contact.type" [target]="contact.contact"></dmep-social-icon>
    </div>
  </div>
</div>
