<div class="mep">
  @if (mep) {
<img [hidden]="!imageLoaded()" class="mep-image" [src]="mep.portrait | toAbsolute: 'api'" [alt]="mep.name" (load)="imageLoadedUrl = mep.portrait">
}
  @if (!mep || !imageLoaded()) {
<div class="mep-image-loading-placeholder mep-image">
    <mat-spinner [diameter]="56"></mat-spinner>
  </div>
}
  <div class="mep-description">
    @if (mep) {
<h3 class="mep-name">
      <span [classList]="'flag:' + mep.country"></span>
      <p class="name">{{ mep.name }}</p>
      @if (allowChangeMEP) {
<button mat-icon-button class="select-other-btn" (click)="MEPChangeClick()">
        <mat-icon>autorenew</mat-icon>
      </button>
}
    </h3>
}
    @for (group of mep?.groups; track group) {
<div class="group-party">
      @if (group.logo) {
<img [src]="group.logo | toAbsolute: 'api'" class="mep-group-icon">
}
      <span>{{ group.long_name }}</span>
    </div>
}
    <!-- <p class="country" *ngIf="mep">{{ 'countries.' + mep.country | transloco  }}</p> -->
    <div class="socials">
      @for (contact of mep?.contacts; track contact) {
<dmep-social-icon [type]="contact.type" [target]="contact.contact"></dmep-social-icon>
}
    </div>
  </div>
</div>
