<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-label>{{ 'select-mep.country' | transloco }}</mat-label>
  <mat-select [formControl]="countryFormControl">
    <mat-select-trigger>
      <div class="dmep-country-option">
        <span [classList]="'flag:' + countryFormControl.value?.shortCode"></span>
        <span>{{ countryFormControl.value?.name }}</span>
      </div>
    </mat-select-trigger>
    <mat-option [value]="country" *ngFor="let country of countries$ | async">
      <div class="dmep-country-option">
        <span [classList]="'flag:' + country.shortCode"></span>
        <span>{{ country.name }}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
