<!DOCTYPE html>
<html lang="{{ language }}">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ base_path }}styles.css" />
</head>

<body>
{{ content }}
</body>

</html>
