<div class="container">
  <ng-container *ngIf="(isAuthenticated$ | async) === false">
    <h2 transloco="call.home.title" class="calling-title"></h2>

    <p *ngFor="let description of descriptions$ | async" class="description">
      {{ description.text }}
    </p>
  </ng-container>

  <ng-container *ngIf="isAuthenticated$ | async">
    <h2 transloco="call.home.titleAuthenticated" class="calling-title"></h2>

    <p
      class="description"
      [innerHTML]="
        'call.home.youHaveAlreadySignedIn'
          | transloco : { number: authenticatedNumberHtml$ | async }
      "
    ></p>

    <p class="not-your-number description">
      <a (click)="onReauthenticateClick(); $event.preventDefault()" href="#">
        {{ "call.home.notYourNumber" | transloco }}
      </a>
    </p>
  </ng-container>

  <dmep-calling-buttons
    (callNowClick)="onCallNowClick()"
    (callLaterClick)="onCallLaterClick()"
    [disableScheduling]="disableScheduling"
    [isOfficeHours]="!!(isOfficeHours$ | async)"
    [officeHoursTimezone]="officeHoursTimezone"
    [officeHoursText]="(officeHoursText$ | async) || []"
  ></dmep-calling-buttons>
</div>
