<div class="container" *transloco="let t">
  <h2 transloco="call.home.title" class="calling-title"></h2>

  <p *ngFor="let description of descriptions$ | async" class="description">
    {{ description.text }}
  </p>

  <div class="dmep-btn-container">
    <button mat-stroked-button color="primary" class="dmep-call-now-btn dmep-btn dmep-btn-primary" (click)="onCallNowClick()">
      <span class="btn-content">
        <strong>{{ 'call.call-now-btn.title' | transloco }}</strong>
        <br>
        {{ 'call.call-now-btn.subtitle' | transloco }}
      </span>
    </button>
  </div>

  <div class="dmep-btn-container" *ngIf="!disableScheduling">
    <button mat-stroked-button class="dmep-call-later-btn dmep-btn dmep-btn-secondary" (click)="onCallLaterClick()">
      <span class="btn-content">
        {{ 'call.call-later-btn.title' | transloco }}
      </span>
    </button>
  </div>
</div>
